.info-background {
  background-color: #feeae9;
}

.watch-bg {
  background: linear-gradient(152.07deg, #ff9c35 1.47%, #ffd019 97.17%);
}

.bag-bg {
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
}

.shoe-bg {
  background: linear-gradient(170.41deg, #4289ff -10.89%, #3f07f8 92.77%);
}
